# Database Admin 101 - Lab

## Introduction 

In this lab, you'll go through the process of designing and creating a database. From there, you'll begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Use knowledge of the structure of databases to create a database and populate it

## The Scenario

You are looking to design a database for a school that will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database. What tables would you include? What columns would each table have? What would be the primary means to join said tables?

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [1]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CC1C-B0AD

 Directory of C:\Users\poari\Flatiron\Section07_SQL\dsc-database-admin-101-lab-online-ds-pt-120919

01/22/2020  02:32 PM    <DIR>          .
01/22/2020  02:32 PM    <DIR>          ..
01/21/2020  06:56 PM                69 .gitignore
01/22/2020  02:30 PM    <DIR>          .ipynb_checkpoints
01/21/2020  06:56 PM                95 .learn
01/21/2020  06:56 PM             1,213 contact_list.pickle
01/21/2020  06:56 PM             1,849 CONTRIBUTING.md
01/22/2020  02:32 PM             7,304 index.ipynb
01/21/2020  06:56 PM             1,371 LICENSE.md
01/21/2020  06:56 PM             3,824 README.md
01/21/2020  06:56 PM            16,384 school.sqlite
               8 File(s)         32,109 bytes
               3 Dir(s)  650,889,019,392 bytes free

In [3]:
#Your code here; import necessary packages
import sqlite3

In [4]:
#Your code here; create the database school.sqlite
conn = sqlite3.connect('school.sqlite')
cur = conn.cursor()

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CC1C-B0AD

 Directory of C:\Users\poari\Flatiron\Section07_SQL\dsc-database-admin-101-lab-online-ds-pt-120919

01/22/2020  02:34 PM    <DIR>          .
01/22/2020  02:34 PM    <DIR>          ..
01/21/2020  06:56 PM                69 .gitignore
01/22/2020  02:30 PM    <DIR>          .ipynb_checkpoints
01/21/2020  06:56 PM                95 .learn
01/21/2020  06:56 PM             1,213 contact_list.pickle
01/21/2020  06:56 PM             1,849 CONTRIBUTING.md
01/22/2020  02:34 PM             8,772 index.ipynb
01/21/2020  06:56 PM             1,371 LICENSE.md
01/21/2020  06:56 PM             3,824 README.md
01/21/2020  06:56 PM            16,384 school.sqlite
               8 File(s)         33,577 bytes
               3 Dir(s)  650,889,228,288 bytes free

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), telephone number, street, city, state, and zipcode. Be sure to also create a primary key for the table.

In [9]:
#Your code here
cur.execute("""
            CREATE TABLE contactInfo2 (  id INTEGER PRIMARY KEY,
                                        firstName TEXT,
                                        lastName TEXT,
                                        role TEXT,
                                        phone INTEGER,
                                        street TEXT,
                                        city TEXT,
                                        state TEXT,
                                        zipcode INTEGER ) 
            """)

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [10]:
# Code to load the list of dictionaries; just run this cell
import pickle

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

In [24]:
# contacts
# type(contacts)
# type(contacts[0])
# contacts[0].keys()
tuple(contacts[0].values())
tuple([1,2,3])

(1, 2, 3)

In [25]:
# Your code to iterate over the contact list and populate the contactInfo table here
for i in range(len(contacts)):
    cur.execute("""
                INSERT INTO contactInfo2 (firstName ,lastName , role , phone , street ,city , state , zipcode)
                VALUES tuple(contacts[i].values())
                ;""")

OperationalError: near "tuple": syntax error

**Query the Table to Ensure it is populated**

In [10]:
# Your code here

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [12]:
#Your code here

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [14]:
#Your code here; create the grades table.

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [16]:
#Your code here; find the duplicate entry

In [18]:
#Your code here; delete the duplicate entry

In [20]:
#Your code here; check that the duplicate entry was removed.

## Updating an Address

Ed Lyman just moved to `2910 Simpson Avenue York, PA 17403`. Update his address accordingly.

In [22]:
#Your code here; update Ed's address

In [24]:
#Your code here; Query the database to ensure the change was made

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [26]:
#Your code here

## Summary

While there's certainly more to do with setting up and managing this database, you got a taste for creating, populating, and maintaining databases! Feel free to continue fleshing out this exercise for more practice.